<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <h3>Welcome, {{user_name}}</h3>

    <h2>Active Populations</h2>

    <a href="/populationss/2021/SPRING/ISM">Populations</a>
    <ul>
        {% for program_statistic in student_population %}
        <li> <a href="/populations/{{ program_statistic[2]}}/{{ program_statistic[1] }}/{{ program_statistic[0] }}">{{
                program_statistic[0] }} -
                {{ program_statistic[1] }} -
                {{ program_statistic[2] }}
                ({{ program_statistic[3] }})
        </li></a>
        {% endfor %}
    </ul>

    <br>
    <h2>Overall Attendance</h2>
    <p>Bsc - Computer science - F2021 (85%)</p>
    <p>Msc - Computer science - F2021 (90%)</p>
    <p>ME - AIs - F2021 (95%)</p>
    <p>Msc - AIMS - F2021 (95%)</p>
    <p>ME - GITM - F2021 (80%)</p>
    <ul>
        {% for program_statistic in student_population %}
        <li>{{program_statistic[0] }} -
            {{ program_statistic[1] }} -
            {{ program_statistic[2] }}
            ({{ x }}%)
            <!-- ({{ program_statistic[3] }}%) -->
        </li>
        {% endfor %}
    </ul>
    <br>
    <p>website last generation : 10th January 2023 </p>
</body>

</html>