<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <h3>Welcome, {{user_name}}</h3>

    <h2>Active Populations</h2>

    <a href="/populationss/2021/SPRING/ISM">Populations</a>
    <ul>
        {% for program_statistic in student_population %}
        <li> <a href="/populations/{{ program_statistic[2]}}/{{ program_statistic[1] }}/{{ program_statistic[0] }}">{{
                program_statistic[0] }} -
                {{ program_statistic[1] }} -
                {{ program_statistic[2] }}
                ({{ program_statistic[3] }})
        </li></a>
        {% endfor %}
    </ul>

    <h2>Overall Attendance</h2>
    <ul>
        {% for program_statistic in population_percentage %}
        <li>
            {{program_statistic[5] }} -
            {{ program_statistic[3] }} -
            {{ program_statistic[4] }}
            ({{ '%.0f' %program_statistic[2]}}%)
        </li>
        {% endfor %}
    </ul>

    <br>
    <p>Website last generation : {{current_date}} </p>
</body>

</html>