<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>Popluations</title>
</head>

<body>
    <h2>Poulation - {{population}}</h2>

    <h3>Students</h3>
    <table>
        <thead>
            <tr>
                <td>Index</td>
                <td>Email</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Passed</td>
            </tr>
        </thead>
        <tbody>
            {% for student in student_population %}
            <tr class="clickable-row"
                data-href="/student-grades/{{ prog_year}}/{{ prog_batch }}/{{ programme }}/{{ student[0]}}">
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{student[0]}}
                </td>
                <td>
                    {{student[1]}}
                </td>
                <td>
                    {{student[2]}}
                </td>
                <td>
                    {{student[3]}}/{{student[4]}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Courses</h3>
    <table>
        <thead>
            <tr>
                <td>Index</td>
                <td>ID</td>
                <td>Name</td>
                <td>Sessions Count</td>
            </tr>
        </thead>
        <tbody>
            {% for course in programme_courses %}
            <tr class="clickable-row"
                data-href="/student-grades/{{ prog_year}}/{{ prog_batch }}/{{ programme }}/{{ course[0]}}">
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{course[0]}}
                </td>
                <td>
                    {{course[1]}}
                </td>
                <td>
                    {{course[2]}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <p>Website last generation : {{current_date}} </p>
</body>

</html>

<script>
    // Get all the clickable rows
    const rows = document.querySelectorAll('.clickable-row');

    // Add a click event listener to each row
    rows.forEach(row => {
        row.addEventListener('click', () => {
            // Redirect to the URL specified in the data-href attribute
            window.location.href = row.dataset.href;
        });
    });
</script>