<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Student Grades</title>
</head>

<body>
    <h2>Grades - {{population}}</h2>

    <h3>Student's grades</h3>
    <table>
        <thead>
            <tr>
                <td>Index</td>
                <td>Email</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Course</td>
                <td>Grade(/20)</td>
            </tr>
        </thead>
        <tbody>
            {% for student_record in student_records %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{student_record[0]}}
                </td>
                <td>
                    {{student_record[1]}}
                </td>
                <td>
                    {{student_record[2]}}
                </td>
                <td>
                    {{student_record[3]}}
                </td>
                <td>
                    {{'%.1f' %student_record[4]}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <p>Website last generation : {{current_date}} </p>
</body>

</html>